---
import BlogPost from "../layouts/BlogPost.astro";

const pageTitle = "About Me";

const identity = {
	firstName: "Nidhish",
	country: "India",
	occupation: "Software Engineer",
	hobbies: ["singing", "drawing", "cricket"],
};

const skills = [
	"SASS",
	"JavaScript",
	"Typescript",
	"React",
	"Redux",
	"Node",
	"Express",
	"MongoDB",
	"GraphQL",
	"Styled Components",
	"Firebase",
	"Git",
	"Astro",
];
---

<BlogPost title={pageTitle}>
	<article>
		<h2>Description</h2>
		<p>
			This site will update as I keep learning more things, so keep checking
			back and see how my journey is going!
		</p>
		<h2 class="mt-4 font-semibold">Here are a few details about me:</h2>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>
				I live in {identity.country} and I work as a {identity.occupation}.
			</li>
			{
				identity.hobbies.length >= 2 && (
					<li>
						Two of my hobbies are: {identity.hobbies[0]} and{" "}
						{identity.hobbies[1]}
					</li>
				)
			}
		</ul>
		<h2 class="mt-4 font-semibold">My skills are:</h2>
		<ul class="flex flex-wrap mt-2">
			{
				skills.map((skill) => (
					<li class="p-2 mb-2 mr-2 font-semibold rounded-lg bg-zinc-200 text-button-dark dark:bg-button-dark dark:text-button-light">
						{skill}
					</li>
				))
			}
		</ul>
	</article>
</BlogPost>
