---
import BlogPost from "../layouts/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const indexTitle = "Home Page";
---

<BlogPost>
	<h1>{indexTitle}</h1>
	<p>THIS IS BLOG PAGE</p>

	<div class="grid grid-cols-2 gap-4">
		{
			allPosts.map((post) => (
				<a href={post.url} rel="prefetch-intent">
					<div class="relative">
						<img
							src={post.frontmatter.image.url}
							alt="blogImage"
							loading="lazy"
							class="rounded-lg"
						/>
						<div class="glass">
							<div>
								<p class="font-semibold">{post.frontmatter.pubDate}</p>
								<p>{post.frontmatter.readTime}</p>
							</div>
							<p>{post.frontmatter.author}</p>
						</div>
					</div>
				</a>
			))
		}
	</div>
</BlogPost>

<style>
	.glass {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		position: absolute;
		width: 100%;
		padding: 20px 40px;
		bottom: 0;
		background: hsla(0, 0%, 5%, 0.522);
		backdrop-filter: blur(13px) saturate(150%);
		-webkit-backdrop-filter: blur(13px) saturate(150%);
		z-index: 1;
	}
</style>
