---
import { Image } from "astro:assets";
const { post } = Astro.props;
---

<script>
	// Lazy Loading
	const blurDivs = document.querySelectorAll(".blur-load");

	blurDivs.forEach((div) => {
		function loaded() {
			// Show image
			div.classList.add("loaded");
		}

		const img = div.querySelector("img");
		if (img.complete) {
			loaded();
		} else {
			img.addEventListener("load", loaded);
		}
	});
</script>

<div>
	<a href={post.url} rel="prefetch-intent">
		<div class="relative">
			<div
				class="overflow-hidden blur-load"
				style={post.frontmatter.image.lazyUrl
					? `background-image: url(${post.frontmatter.image.lazyUrl})`
					: ""}
			>
				<Image
					src={post.frontmatter.image.url}
					alt="blogImage"
					loading="lazy"
					height="10"
					width="10"
					class="w-[360px] h-[240px] object-cover hover:scale-110 ease-in-out duration-300 block object-center"
				/>
			</div>

			<div class="px-5 py-2 text-sm text-white glass sm:py-3 sm:px-6">
				<div>
					<p class="font-semibold">
						{
							new Date(post.frontmatter.pubDate).toDateString().slice(4, 10) +
								", " +
								new Date(post.frontmatter.pubDate).toDateString().slice(10, 15)
						}
					</p>
					<p>{post.frontmatter.readTime}</p>
				</div>
				<p>{post.frontmatter.author}</p>
			</div>
		</div>
	</a>
</div>

<style>
	.glass {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		width: 100%;
		bottom: 0;
		background: rgba(57, 56, 56, 0.52);
		backdrop-filter: blur(13px) saturate(150%);
		-webkit-backdrop-filter: blur(13px) saturate(150%);
		z-index: 1;
	}

	.blur-load {
		background-size: cover;
		background-position: center;
	}

	.blur-load.loaded > img {
		opacity: 1;
	}

	.blur-load > img {
		opacity: 0;
	}
</style>
