---
import { Image } from "astro:assets";
import BlogPost from "./BlogPost.astro";
const { frontmatter } = Astro.props;
---

<script>
	// Lazy Loading
	const blurDivs = document.querySelectorAll(".blur-load");

	blurDivs.forEach((div) => {
		function loaded() {
			// Show image
			div.classList.add("loaded");
		}

		const img = div.querySelector("img");
		if (img.complete) {
			loaded();
		} else {
			img.addEventListener("load", loaded);
		}
	});
</script>

<BlogPost title={frontmatter.title} backButton="true">
	<section
		class="flex flex-wrap pb-8 mt-6 mb-10 border-b border-dashed sm:justify-between border-zinc-300 dark:border-zinc-800"
	>
		<div class="md:max-w-sm">
			<p class="mt-2 mb-4"><em>{frontmatter.description}</em></p>
			<p>
				<span class="mr-1 font-semibold">Author:</span>
				{frontmatter.author}
			</p>
			<p>
				<span class="mr-1 font-semibold">Published:</span>
				{
					new Date(frontmatter.pubDate).toDateString().slice(4, 10) +
						", " +
						new Date(frontmatter.pubDate).toDateString().slice(10, 15)
				}
			</p>
			<div class="flex my-2">
				<p class="mt-2 mr-1 font-semibold">Tags:</p>
				<div class="flex flex-wrap">
					{
						frontmatter.tags.map((tag) => {
							return (
								<p class="px-2 py-1 m-1 rounded-sm bg-zinc-200 dark:bg-button-dark">
									{tag.toLowerCase()}
								</p>
							);
						})
					}
				</div>
			</div>
		</div>
		<div
			class="my-8 overflow-hidden blur-load"
			style={frontmatter.image.lazyUrl
				? `background-image: url(${frontmatter.image.lazyUrl})`
				: ""}
		>
			<Image
				src={frontmatter.image.url}
				loading="lazy"
				class="w-full md:max-w-[1152px] rounded-md block max-h-[500px] object-center"
				alt={frontmatter.image.alt}
				width="1000"
				height="500"
			/>
		</div>
	</section>
	<article class="prose sm:prose-md md:prose-lg lg:prose-xl dark:prose-invert">
		<slot />
	</article>
</BlogPost>

<style>
	.blur-load {
		background-size: cover;
		background-position: center;
	}

	.blur-load.loaded > img {
		opacity: 1;
	}

	.blur-load > img {
		opacity: 0;
	}
</style>
